<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADBccG9DFr3jMrS89LkJ_b0wnCHIzfVjk</string>
	<key>GCM_SENDER_ID</key>
	<string>80640900084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iceCreamShopAdmin</string>
	<key>PROJECT_ID</key>
	<string>ice-cream-shop-5e9da</string>
	<key>STORAGE_BUCKET</key>
	<string>ice-cream-shop-5e9da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80640900084:ios:a2c46d2d0902fa982297a1</string>
</dict>
</plist>